<footer>
  <div class="footer">
    <div style="height: 100%" class="container">
      <div class="footer-content">
        <div class="footer-logo footer-part">
          <h3>SelectFit</h3>
        </div>
        <div class="footer-part">
          <h5>Most Popular Brands</h5>
          <ul>
            <li>Adidas Originals</li>
            <li>Champion</li>
            <li>Comme des Garçons</li>
            <li>Nike</li>
            <li>Off-White</li>
            <li>Polo Ralph Lauren</li>
          </ul>
        </div>
        <div class="footer-part">
          <h5>Contact us</h5>
          <ul>
            <li>+49 111111111</li>
            <li>hello@selectfit.com</li>
          </ul>
        </div>
        <div class="footer-part">
          <h5>Follow us</h5>
          <div class="social-media-flex">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
